* {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: 'Questrial', sans-serif;

}

ul {
	padding:0;
}

header h1 {
	font-size: 55px;
	color: #f67c78;
	float: left;
	position: relative;
	bottom: 18px;
}
header ul {
	float: right;
	padding-top: 5px;
	font-size: 19px;
	border-left: 1px solid rgba(51, 51, 51, 0.4);
	padding-left: 20px;
}

header li {
	display: inline-block;
	list-style: none;

}


header a {
	text-decoration: none;
	color: #f67c78;
	display: block;
	padding: 20px 25px;
	transition:background 0.4s ease-in-out, color 0.7s ease-in-out, transform 0.8s ease-in-out;
}
header a:hover {
	color: #fff;
	background: #f67c78;
	transform:translateY(-10px);
}

.header-wrap {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 70px;
}

.second-block-wrapper {
	background:#F3F3F3;
	overflow: auto;
	padding-bottom: 70px;
}

.align-wrap {
	width: 1200px;
	margin: 0 auto;
	padding-top: 70px;
}

.left-content {
	float: left;
	width: 60%;
	border-right: 1px solid rgba(51, 51, 51, 0.4);
}

.left-content p {
	max-width: 650px;
	line-height: 2;
	color: rgba(0,0,0,.6);
	margin-top: 50px;
}

.right-content {
	float: right;
	width: 40%;
	padding-left: 40px;
}
.two-columns {
	padding-top: 50px;
	overflow: auto;
	padding-bottom: 50px;
}

.box1 {
	float: left;
	border-right: 1px solid rgba(51, 51, 51, 0.4);
	padding-right: 50px;
}

.box2 {
	float: right;
	width: 50%;
}

.box {
	line-height: 2;
}

.box ul li {
	list-style: none;

}

.box a {
	text-decoration: none;
	color: rgba(0,0,0,.6);
}


.box a:hover {
	text-decoration: underline;
}


.link-in-box {
	display: inline-block;
	background: #f67c78;
	padding: 10px 15px;
	font-size: 19px;
	color: #fff !important;
}


.link-in-box:hover {
	text-decoration: none !important;
	background-color: #fc625f !important;

}

.right-content ul li {
	list-style: none;
	line-height: 2;

}

.right-content ul li a {
	text-decoration: none;
	color: rgba(0,0,0,.6);
}

.right-content a:hover {
	text-decoration: underline;

}

#second-list {
	margin-top: 20px;
}


.right-content h2 {
	margin-bottom: 0;
	padding-top: 20px;
}

#right {
	display: inline-block  ;
	padding: 20px 15px  ;
	background-color: #f67c78;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
	position: relative;
	top: 27px;

}

#right:hover {
	background: #fc625f;
}

.third-block {
	margin: 0 auto;
}

.container-color {
	width: 1200px;
	margin: 70px auto 70px auto;
	text-align: center;
	overflow: auto;

}


#cbox1 {
	float: left;
	background-color: #f67c78 ;	
	width: 400px;
	padding: 80px 40px;
}

#cbox2 {
	float: left;
	background-color: #79c4ca;
	width: 400px;
	padding: 80px 40px;
}

#cbox3 {
	float: left;
	background-color: #a8c269 ;
	width: 400px;
	padding: 80px 40px;
}

.container-color  {
	color: #fff;
	line-height: 2;
}

.container-color a {
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	padding: 10px 25px;
	color: #fff;
	margin-top: 20px;
}


#cbox1 a {
	background: #E85D4B;
}

#cbox2 a {
	background: #57AEAD;
}

#cbox3 a {
	background: #809944 ;
}


.copyright {
	background: #F3F3F3;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 70px 0 70px 0;
}

.container h1 {
	font-size: 35px;
}

.container p {
	color: rgba(0,0,0,.6);
	line-height: 2.5;
}

.container a {
	color: #f67c78;
}

.container a:hover {
	color: #fc625f;
}

.social-block {
	background: #e4c65d;
	height: 300px;
}

.container-social {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}


.container-social p {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 0;
	padding-top: 90px;
}

.container-social span {
	color: #fff;
}

#social-links {
	font-size: 20px;
	padding-top: 30px;
}

#social-links li {
	list-style: none;
	display: inline-block;
	margin-right: 3px;
	text-align: center;
}

#social-links a {
	text-decoration: none;
	color: #fff;
}

#social-links  a:before {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #E2AD1C;
	line-height: 2;
}


























































